body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
}

.container {
	width: 1170px;
	margin: 0 auto; 
	/* Элемент становится 
	по центру  margin: 0 auto;*/
}

.header {
	background: rgba(78,192,254,1);
	background: -moz-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 60px;
	padding-bottom: 140px;
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 170px;

}

.title {
	width: 600px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 37px;
}

.title span {
	font-size: 59px;
}

.intro {
	margin-bottom: 40px;
	margin-top: 40px;
	width: 400px;
}

.btn {
	background: #ffd429;
	color: black;
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 220px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
	border: none;
}

.btn:hover {
	background: #d9860e;
}

.travel {
	margin-top: 60px;
}

.learn {
	padding-top: 115px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
	text-align: center;
}

.opportunities {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.opportunity {
	text-align: center;
	width: 300px;
	background: url('../img/icon1.jpg') no-repeat top;
	padding-top: 90px;
}

.opportunity-title {
	font-size: 19px;
}

.opportunity-text {
	font-size: 15px;
}

.opportunity-travel {
	background: url('../img/icon2.jpg') no-repeat top;

}

.opportunity-value {
	background: url('../img/icon3.jpg') no-repeat top;

}

.mail {
	background: #ecf3f8;
	padding-top: 110px;
	padding-bottom: 100px;
}

.btn-form,
.input {
	margin: 0 auto;
	width: 340px; 
}

.input {
	display: block;
	margin-bottom: 15px;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	height: 45px;
	padding-left: 25px;
}

.section-title-ticket {
	padding-bottom: 65px;
}

.footer {
	padding: 60px 0;
	background: #164d7a;
}

.credits {
	font-size: 14px;
	text-align: center;
	margin: 0;
}

/*Responsive*/

/*992px - 1200px*/
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.travel {
		width: 400px;
		height: 400px;

}

/*768px - 992px*/
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: auto;
	}
	.intro {
		width: auto;
	}
	.travel {
		display: block;
	    width: 550px;
	    height: 550px;
	    margin: 72px auto 0;
	}
	
}

/*576px - 768px*/
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	.opportunities {
		flex-direction: column;
	}
	.opportunity {
		width: auto;
		margin-bottom: 30px;
	}
	.travel {
		width: 100%;
	}
	.input {
		width: 100%;
	}
}

/*0px - 576px*/
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

	.travel {
	    width: 400px;
	    height: 400px;
	}

	.opportunity {
	    width: 50%;
	    margin: 0 auto 30px;
	}

	.footer {
    	padding: 30px 0;
    }

    body {
    	overflow-x: hidden; 
    }
}




